*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



a:link, a:visited{
	text-decoration: none;
}

li{
	list-style: none;
}




.container {
    display: flex;
    justify-content: space-evenly; /* 컨테이너 내부 요소들을 좌측과 우측에 배치 */
    width: 1920px;
    
    
    margin: 0 auto; /* 화면 가운데 정렬 */
}

header{
	background-color: aqua;
	height: 200px;
	width: 100%;
}

footer{
	background-color: aqua;
	height: 200px;
	width: 100%;
	position: absolute;
	
}

.left {
    flex-basis: 500px; /* 왼쪽 영역의 너비를 30%로 설정 */
    flex-shrink: 0;

    position: relative;
    right: 110px;
    
}

.middle {
    flex-basis: 900px; /* 가운데 영역의 너비를 50%로 설정 */
    flex-shrink: 0;
    
    
}

.right {
    flex-basis: 192px; /* 오른쪽 영역의 너비를 20%로 설정 */
}

.changeinfotitle{
    font-size: 24px;
    font-weight: 600;
    padding: 40px 0;
}


.box1{
    border-radius: 9px;
    width: 360px;
    height: 35px;
    border: 1px solid rgb(184, 184, 184);
}

.box2{
    border-radius: 9px;
    width: 260px;
    height: 35px;
    border: 1px solid rgb(184, 184, 184);
    
}
.box3{
    border-radius: 9px;
    width: 175px;
    height: 35px;
    border: 1px solid rgb(184, 184, 184);
}

.box4{
    border-radius: 9px;
    width: 360px;
    height: 60px;
    border: 1px solid rgb(184, 184, 184);
    
}

.movetext1{
    margin-left: 150px;
}

.movetext2{
    margin-left: 123px;
}

.changeInfobtn button {
   /* 버튼의 높이와 너비를 조정하여 크게 만듭니다. */
   width: 200px;
   height: 50px;

   /* 배경색을 색으로 설정합니다. */
   background-color: lightgrey;

   /* 글자 색을 변경합니다. */
   color: white;

   /* 글자 크기를 크게 설정합니다. */
   font-size: 18px;

   /* 모서리를 둥글게 만듭니다. */
   border-radius: 25px;

   /* 테두리를 없앱니다. */
   border: none;

   /* 버튼 안의 텍스트를 가운데 정렬합니다. */
   text-align: center;

   /* 버튼 안의 텍스트의 여백을 조정합니다. */
   padding: 10px 20px;

   /* 마우스 호버 시 색상 변경 효과를 추가합니다. */

   position: relative;

   left: 160px;
   
}
.changeInfobtn button:hover {
    /* 마우스 호버 시 배경색 변경 */
    background-color: darkorange;
}
.changeInfobtn{
    padding: 50px 0;
}

.mailbtn button{
   /* 버튼의 높이와 너비를 조정하여 크게 만듭니다. */
   
   height: 31px;

   /* 배경색을 색으로 설정합니다. */
   background-color: lightgrey;

   /* 글자 색을 변경합니다. */
   color: white;

    padding: 3px;
    

   /* 모서리를 둥글게 만듭니다. */
   border-radius: 5px;

   /* 테두리를 없앱니다. */
   border: none;

   /* 버튼 안의 텍스트를 가운데 정렬합니다. */
   text-align: center;

   /* 버튼 안의 텍스트의 여백을 조정합니다. */
   

   /* 마우스 호버 시 색상 변경 효과를 추가합니다. */
}

.mailbtn button:hover {
    /* 마우스 호버 시 배경색 변경 */
    background-color: darkorange;
}


.changeInfo{
    position: relative;
    left: 220px;
    padding-bottom: 20px;
}

.ligoimg img{
    width: 120px;
    height: auto;
    padding-bottom: 20px;
}



/* 사이드바 */

		/* 마이페이지 */
		.title {
			list-style-type: none;
			padding: 23px;
			font-size: 30px;
		}



.sideBar {
    box-shadow: 0px 10px 60px rgba(225.83437621593475, 236.193745136261, 248.62500607967377, 0.5);
    background-color: rgba(255, 255, 255, 1);
    width: 300px;
    flex: 0 0 auto;
    height: 1000px;
}

.sideBar-menu {
    width: 234px;
    height: 100%;
    position: absolute;
    margin-top: 70px;
    margin-left: 30px;
}

.sideBar-menu ul,
.sideBar-menu li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    margin-top: 10px;
    width: 300px;
}

.sideBar-menu a {
    text-decoration: none;
    color: #555;
}

.sideBar-toggle li {
    margin-left: 0px;
}

.sub li a {
    margin-left: 60px;
}

.sideBar-adver {
    width: 223.856201171875px;
    height: 134.313720703125px;
    position: absolute;
    margin-top: 30%;
    margin-left: 10px;
}

.sideBar-adver-back {
    background-image: linear-gradient(0deg, rgba(249.38867390155792, 202.0311614871025, 163.5030072927475, 1) 0%, rgba(243.00000071525574, 125.00000014901161, 29.000000171363354, 1) 100%);
    width: 223.856201171875px;
    height: 134.313720703125px;
    left: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.sideBar-adver-text {
    color: rgba(255, 255, 255, 1);
    width: 182px;
    height: 38px;
    position: absolute;
    left: 21px;
    top: 23px;
    font-family: Poppins;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1;
}

.sideBar-adver-button {
    width: 181.77122497558594px;
    height: 35.816993713378906px;
    position: absolute;
    left: 21px;
    top: 78.796875px;
}

.sideBar-adver-button-back {
    box-shadow: 2px 4px 4px rgba(79.0000256896019, 41.99999749660492, 234.00000125169754, 0.17000000178813934);
    background-color: rgba(255, 255, 255, 1);
    width: 181.77122497558594px;
    height: 35.816993713378906px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sideBar-adver-button-text {
    color: rgba(243.00000071525574, 125.00000014901161, 29.000000171363354, 1);
    width: 117px;
    height: 19px;
    position: absolute;
    left: 32px;
    top: 8.6484375px;
    font-family: Poppins;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1;
		} 