/* 신규 리펀딩 */
.second-square-icon-container {
    display: flex;
    justify-content: center;
}

.second-square-icon-wrapper{
    text-align: center;
    width: 15vw;
    height: 10vw;
    padding: 1vw;
    transition: all 0.3s ease;
    object-fit: cover;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 15vh;
    cursor: pointer;
    position: relative;
}

.second-square-icon {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

/* 이미지 상단 우측 찜(하트)*/
.fa-heart:before {
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 30px;
    margin-top: 30px;
}

.fa-heart:hover:before {
    font-size: 30px;
    color: red;
}

/* 타이틀 */
.first-container-title {
    margin-left: 19%;
}