<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/list/watchlist.css">
</head>


<body>
    
<!-- 헤더시작 -->
<header>
	

	<!-- 로고 이미지 -->
	<img src="../../resources/images/textlogonone_2.png" alt="로고" width="100" class="logo-image">


	<!-- 상단 메뉴 -->
	<nav>
		<ul>
			<li><a href="#">홈</a></li>
			<li><a href="#">프로젝트</a></li>
			<li><a href="#">펀딩</a></li>
			<li><a href="#">도움말</a></li>
		</ul>
	</nav>

	<!-- 상단 - 더보기 메뉴 -->
	<div class="menu-item">
		<label class="toggle-label" id="toggle-label">더보기</label>
		<div class="menu-content" id="menu-content">
			<ul>
				<li><a href="#">메뉴 항목 1</a></li>
				<li><a href="#">메뉴 항목 2</a></li>
				<li><a href="#">메뉴 항목 3</a></li>
			</ul>
		</div>
	</div>

	<!-- 더보기 토글 제이쿼리 -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<!-- 더보기 토글 함수 -->
	<script>
		$(document).ready(function () {
			$('#toggle-label').click(function () {
				$('#menu-content').slideToggle(500);
			});
		});
	</script>

	<!-- 검색창 -->
	<div class="search-box">
		<input type="text" placeholder="검색어를 입력하세요">
		<i class="fas fa-search"></i>
	</div>

	<!-- 로그인 회원가입 -->
	<div class="login-signup">
		<nav>
			<ul>
				<li><a href="#">로그인</a></li>
				<li><a href="#">회원가입</a></li>
			</ul>
		</nav>
	</div>

	<!-- 프로젝트 시작하기 -->
	<div class="project-button">
		<a href="#">프로젝트 시작하기</a>
	</div>
</header>

<!-- 헤더끝 -->
<div class="bodyking">
    

        <!-- ... (사이드바 내용은 여기에 추가) ... -->
        <!-- 사이드바 배경 -->
        
    <div class="sideBar-con">        
        <div class="sideBar">
        
            <!-- 사이드바 메뉴 -->
            <div class="sideBar-menu">
        
                <div id="navSide">
                    <ul class="sideBar-toggle">
                        <li><a href="#">프로젝트 관리</a><br>
                            <ul class="sub">
                                <li><a href="#">요금제 선택</a></li>
                                <li><a href="#">프로젝트 정보</a></li>
                                <li><a href="#">기본 정보</a></li>
                                <li><a href="#">스토리 작성</a></li>
                                <li><a href="#">정책</a></li>
                                <li><a href="#">판매자 정보</a></li>
                            </ul>
                        </li>
                    </ul>
                    <li><a href="#">정산 정보</a>
                    <li><a href="#">정산 내역</a>
                    <li><a href="#">일정</a>
                    <li><a href="#">프로젝트 현황</a>
                    <li><a href="#">결제 현황</a>
                    <li><a href="#">반송, 환불 처리</a>
                </div>
                <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#navSide ul.sub").hide();
                        $("#navSide ul.sideBar-toggle li").click(function () {
                            $("ul", this).slideToggle("normal");
                        });
                    });
                </script>
        
                <div class="sideBar-adver">
                    <div class="sideBar-adver-back"></div>
                    <span class="sideBar-adver-text">요금제를 업그레이드하고
                        더 많은 광고기회를 얻으세요</span>
                    <div class="sideBar-adver-button">
                        <div class="sideBar-adver-button-back"></div>
                        <span class="sideBar-adver-button-text">지금 업그레이드!</span>
                    </div>
                </div>
            </div>
        
        </div>
    </div>

    <div class="mid-con">
        <h3>나의 펀딩 리스트</h3>
        <div class="mid">
            <div class="midmenu">
                <div class="logo">
                    <a href=""><img src="../../resources/images/로고2.png" width="150px" alt=""></a>                   
                </div>
                <div class="cancel-con">
                    <button class="cancel">펀딩취소</button>
                </div>
                <div class="criteria">
                    <span class="criteria1">상품명 / 마감일정</span>
                    <span class="criteria2">달성률</span>
                    <span class="criteria3">가격</span>
                    <span class="criteria4">상품옵션</span>
                </div>
                <div class="menucheck">
                    <div class="checkbox-con">
                        <input type="checkbox" class="checkbox">
                    </div>
                    <div class="foodimg">
                        <img src="../../resources/images/KakaoTalk_20231019_131150823.jpg" alt="">
                    </div>
                    <div class="nameAndCount">
                        <div class="name">음식이름</div>
                        <div class="count">마감예정</div>
                    </div>
                    <div class="achvm">
                    50%
                    </div>
                    <div class="price-con">
                        <div class="price">30000원</div>
                    </div>
                    <div class="option">
                        <div>상품옵션란</div>
                    </div>
                </div>
                <div class="menucheck">
                    <div class="checkbox-con">
                        <input type="checkbox" class="checkbox">
                    </div>
                    <div class="foodimg">
                        <img src="../../resources/images/로고1.PNG" alt="">
                    </div>
                    <div class="nameAndCount">
                        <div class="name">음식이름</div>
                        <div class="count">마감예정</div>
                    </div>
                    <div class="achvm">
                    50%
                    </div>
                    <div class="price-con">
                        <div class="price">30000원</div>
                    </div>
                    <div class="option">
                        <div>상품옵션란</div>
                    </div>
                </div>
                <div class="menucheck">
                    <div class="checkbox-con">
                        <input type="checkbox" class="checkbox">
                    </div>
                    <div class="foodimg">
                        <img src="../../resources/images/KakaoTalk_20231019_131150823.jpg" alt="">
                    </div>
                    <div class="nameAndCount">
                        <div class="name">음식이름</div>
                        <div class="count">마감예정</div>
                    </div>
                    <div class="achvm">
                    50%
                    </div>
                    <div class="price-con">
                        <div class="price">30000원</div>
                    </div>
                    <div class="option">
                        <div>상품옵션란</div>
                    </div>
                </div>
                <div class="menucheck">
                    <div class="checkbox-con">
                        <input type="checkbox" class="checkbox">
                    </div>
                    <div class="foodimg">
                        <img src="../../resources/images/KakaoTalk_20231019_131150823.jpg" alt="">
                    </div>
                    <div class="nameAndCount">
                        <div class="name">음식이름</div>
                        <div class="count">마감예정</div>
                    </div>
                    <div class="achvm">
                    50%
                    </div>
                    <div class="price-con">
                        <div class="price">30000원</div>
                    </div>
                    <div class="option">
                        <div>상품옵션란</div>
                    </div>
                </div>
                <div class="menucheck">
                    <div class="checkbox-con">
                        <input type="checkbox" class="checkbox">
                    </div>
                    <div class="foodimg">
                        <img src="../../resources/images/KakaoTalk_20231019_131150823.jpg" alt="">
                    </div>
                    <div class="nameAndCount">
                        <div class="name">음식이름</div>
                        <div class="count">마감예정</div>
                    </div>
                    <div class="achvm">
                    50%
                    </div>
                    <div class="price-con">
                        <div class="price">30000원</div>
                    </div>
                    <div class="option">
                        <div>상품옵션란</div>
                    </div>
                </div>
                
            <!-- <div class="paybtn-con">
                <button class="paybtn"> 결제하기 </button>
            </div> -->
            </div>
        </div>
        <div class="pagination">
            <div class="pagination-box">
                <a href="#" class="prev">＜</a>
                <div class="page-links">
                    <a href="#" class="page-link">1</a>
                    <a href="#" class="page-link">2</a>
                    <a href="#" class="page-link">3</a>
                    
                </div>
                <a href="#" class="next">＞</a>
            </div>
        </div>
    </div>

    
    <!-- 사이드바 끝 -->

    
        

    
        

    
</div>
<!-- 푸터는 이아래에 붙여 -->

<!-- 푸터 시작 -->
<div class=footer>
    <div class="footer-back"></div>
    <div class="footer-left"></div>
    <div class=footer-group>
      <div class=footer-group-design><span  class="footer-down">
  일부 상품의 경우 와디즈는 통신판매중개자이며 통신판매 당사자가 아닙니다.
  해당되는 상품의 경우 상품, 상품정보, 거래에 관한 의무와 책임은 판매자에게 있으므로, 각 상품 페이지에서 구체적인 내용을 확인하시기 바랍니다. </span>
        <div class=footer-up><span  class="footer-up-right">이메일 상담   abcdefg@gmail.com
  유선 상담 1234-5678</span><span  class="footer-up-left">Cloud Fooding 클라우드 푸딩
  사업자 등록번호 1234-56-7890
  서울 종로구 인사동길 12 대일빌딩 7층 클라우드 푸딩
  </span>
</div>
        <div class="footer-logo"></div>
      </div>
    </div>
  </div>
  <!-- 푸터끝 -->
    




  <script>
    let counterValue = 0;

    // 증가 함수
    function increase() {
        counterValue++;
        updateCounter();
    }

    // 감소 함수
    function decrease() {
        if (counterValue > 0) {
            counterValue--;
            updateCounter();
        }
    }
    function updateCounter() {
        document.getElementById('counter-value').innerText = counterValue;
    }
</script>

</body>
</html>