		/* body - 배경화면 */
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
			background-color: #fff;
			background-size: cover;
			/* 창 화면에 100%로 배경 이미지 크기 조절 */
			background-repeat: no-repeat;
			/* 배경 이미지 반복 없음 */
		}

		/* header */
		header {
			background-color: #333;
			color: #fff;
			padding: 10px 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
		}

		/* logo - margin  */
		.logo-image {
			margin-right: auto;
			margin-left: auto;
		}

		/* 네비게이션 메뉴 부모 요소 */
		nav {
			text-align: center;
			min-width: 60px;
			min-height: 20px;
		}

		/* 네비게이션 메뉴 목록 */
		nav ul {
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
		}

		/* 작은 화면에서 메뉴 항목 숨김 */
		@media screen and (max-width: 760px) {
			nav ul {
				display: none;
			}
		}

		/* 네비게이션 메뉴 항목 스타일 */
		nav ul li {
			margin: 0 15px;
			min-width: 60px;
			min-height: 20px;
			display: flex;
			align-items: center;
			flex-shrink: 0;
			/* 가로고정 */
			flex-grow: 0;
			/* 세로 고정 */
		}


		/* 네비게이션 메뉴 하이퍼링크 스타일 */
		nav ul li a {
			color: #fff;
			text-decoration: none;
			padding: 10px;
			display: block;
			height: 100%;
			box-sizing: border-box;
			/* 정확한 패딩값을 주기 위함 */
		}

		/* 검색어 - 부모  */
		.search-box {
			background-color: #eee;
			padding: 3px;
			border-radius: 5px;
			display: flex;
			align-items: center;
			width: 200px;
			margin-right: auto;
		}

		/* 검색어 - 자식 (입력 필드) */
		.search-box input {
			padding: 5px;
			width: 100%;
			/* 수정: 입력 필드를 100%로 설정하여 부모에 맞춤 */
			border: none;
			border-radius: 5px;
			margin-right: 5px;
		}

		/* 검색 버튼 스타일 */
		.search-button {
			background: none;
			border: none;
			cursor: pointer;
		}

		/* 아이콘 스타일 (Font Awesome) */
		.search-button i {
			font-size: 18px;
			color: #555;
		}

		/* 프로젝트 시작하기  */
		.project-button {
			background-color: #f90;
			color: #fff;
			padding: 10px 15px;
			border-radius: 5px;
			margin-right: 40px;
			margin-left: auto;
			display: flex;
		}

		/* 미디어 쿼리: 화면이 작아질 때 */
		@media screen and (max-width: 1200px) {
			.project-button {
				display: none;
			}
		}

		/* 프로젝트 버튼 디자인 */
		.project-button a {
			background-color: #f90;
			color: #fff;
			text-decoration: none;
			text-align: center;
		}

		/* 슬라이딩 메뉴  */
		.menu {
			background-color: #333;
			color: #fff;
			display: flex;
			justify-content: space-between;
			/* margin-left: auto; */
		}

		/* 더보기 토글 메뉴  */
		.menu-item {
			display: flex;
			align-items: center;
			margin-right: auto;
			margin-left: 22px;
			min-width: 60px;
			min-height: 20px;
		}

		/* 미디어 쿼리: 화면이 작아질 때 */
		@media screen and (max-width: 1200px) {
			.menu-item {
				display: none;
				/* 화면이 작아지면 숨김 */
			}
		}

		.menu-content {
			display: none;
			position: absolute;
			background-color: #333;
			color: #fff;
			z-index: 1;
			padding: 50px;
			left: 0;
			right: 0;
			top: 100%;
			width: 100%;
		}


		.menu-content ul {
			list-style: none;
			padding: 0;
			margin: 0;

		}

		.menu-content ul li {
			margin: 10px;
		}

		.menu-content a {
			text-decoration: none;
			color: #fff;
		}

		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
		}

		/* 사이드바 */
		.sideBar {
		    box-shadow: 0px 10px 60px rgba(225.83437621593475, 236.193745136261, 248.62500607967377, 0.5);
		    background-color: rgba(255, 255, 255, 1);
		    width: 280px;
		    flex: 0 0 auto;
		    height: 1000px;
		}

		.sideBar-menu {
		    width: 234px;
		    height: 100%;
		    position: absolute;
		    margin-top: 70px;
		    margin-left: 30px;
		}

		.sideBar-menu ul,
		.sideBar-menu li {
		    list-style-type: none;
		    padding: 0;
		    margin: 0;
		    margin-left: 30px;
		    margin-top: 10px;
		}

		.sideBar-menu a {
		    text-decoration: none;
		    color: #555;
		}

		.sideBar-toggle li {
		    margin-left: 0px;
		}

		.sub li a {
		    margin-left: 50px;
		}

		.sideBar-adver {
		    width: 223.856201171875px;
		    height: 134.313720703125px;
		    position: absolute;
		    margin-top: 30%;
		}

		.sideBar-adver-back {
		    background-image: linear-gradient(0deg, rgba(249.38867390155792, 202.0311614871025, 163.5030072927475, 1) 0%, rgba(243.00000071525574, 125.00000014901161, 29.000000171363354, 1) 100%);
		    width: 223.856201171875px;
		    height: 134.313720703125px;
		    left: 0px;
		    border-top-left-radius: 20px;
		    border-top-right-radius: 20px;
		    border-bottom-left-radius: 20px;
		    border-bottom-right-radius: 20px;
		}

		.sideBar-adver-text {
		    color: rgba(255, 255, 255, 1);
		    width: 182px;
		    height: 38px;
		    position: absolute;
		    left: 21px;
		    top: 23px;
		    font-family: Poppins;
		    text-align: center;
		    font-size: 14px;
		    letter-spacing: 1;
		}

		.sideBar-adver-button {
		    width: 181.77122497558594px;
		    height: 35.816993713378906px;
		    position: absolute;
		    left: 21px;
		    top: 78.796875px;
		}

		.sideBar-adver-button-back {
		    box-shadow: 2px 4px 4px rgba(79.0000256896019, 41.99999749660492, 234.00000125169754, 0.17000000178813934);
		    background-color: rgba(255, 255, 255, 1);
		    width: 181.77122497558594px;
		    height: 35.816993713378906px;
		    position: absolute;
		    left: 0px;
		    top: 0px;
		    border-top-left-radius: 20px;
		    border-top-right-radius: 20px;
		    border-bottom-left-radius: 20px;
		    border-bottom-right-radius: 20px;
		}

		.sideBar-adver-button-text {
		    color: rgba(243.00000071525574, 125.00000014901161, 29.000000171363354, 1);
		    width: 117px;
		    height: 19px;
		    position: absolute;
		    left: 32px;
		    top: 8.6484375px;
		    font-family: Poppins;
		    text-align: center;
		    font-size: 14px;
		    letter-spacing: 1;
		} 

		/* 푸터 */
		.footer { 
			width:100%;
			height:198px;
			position:absolute;
		}

		.footer-back { 
			background-color:rgb(233, 233, 233);
			width:100%;
			height:230px;
			position:absolute;
			margin-left: 0;
			top:0px;
		}

		.footer-left { 
			transform: rotate(6.141813577836304e-22deg);
			width:100%;
			height:0px;
			position:absolute;
			left:0px;
			top:0px;
		}

		.footer-group { 
			height:163px;
			position:absolute;
			left:500px;
		}

		.footer-group-design { 
			width:100;
			height:163px;
			position:absolute;
			left:0px;
			top:0px;
		}

		.footer-down { 
			color:rgba(185.00000417232513, 185.00000417232513, 185.00000417232513, 1);
			width:500px;
			height:30px;
			position:absolute;
			left:100px;
			top:130px;
			font-family:Poppins;
			text-align:left;
			font-size:12px;
			letter-spacing:-1;
		}

		.footer-up { 
			width:100%;
			height:30px;
			position:absolute;
			left:0px;
			top:10px;

		}
		.footer-up-right { 
			color:rgba(185.00000417232513, 185.00000417232513, 185.00000417232513, 1);
			width:300px;
			height:30px;
			position:absolute;
			left:400px;
			top:50px;
			font-family:Poppins;
			text-align:left;
			font-size:12px;
			letter-spacing:-1;
			margin-left: 30px;
		}

		.footer-up-left { 
			color:rgba(185.00000417232513, 185.00000417232513, 185.00000417232513, 1);
			width:300px;
			height:30px;
			position:absolute;
			left:100px;
			top:50px;
			font-family:Poppins;
			text-align:left;
			font-size:12px;
			letter-spacing:-1;
		}

		.footer-logo { 
			width:150px;
			height:150px;
			position:absolute;
			left:-100px;
			top:40px;
			background-image:url(/resources/imege/lcon/logonon_2.png);
			background-repeat:no-repeat;
			background-size:cover;
		}

		/* 중간 표 영역 */

		.logo1 {
			width: 140px; /* 원하는 너비로 설정하세요. */
			height: auto; /* 높이는 자동으로 조정됩니다. */
			margin-top: 40px;
		}
		.black-link,
		.black-link:visited {
			color: black;
			text-decoration: none; /* 밑줄 제거 */
		}
		
		.iconlogo {
			position: relative;
			top: 6px; /* 아이콘을 아래로 5px 이동 */
			
		}
		
		.pagination {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 20px;
		}
		
		
		
		.pagination-box {
			display: flex;
			align-items: center;
		}
		
		.page-links {
			display: flex;
			margin: 0 10px;
		}
		
		.page-link, .prev, .next {
			padding: 5px 10px;
			background: rgb(240, 240, 240);
			margin: 0 3px;
			text-decoration: none;
			color: #333;
			border-radius: 7px; /* 모서리를 둥글게 만듦 */
		}
		
		.page-link:hover, .prev:hover, .next:hover {
			background-color: darkorange;
			cursor: pointer;
		}


		table {
			border-collapse: collapse; /* 테이블 셀 경계를 합침 */
			width: 100%; /* 테이블이 부모 요소에 가득 차도록 함 */
			border-spacing: 10px;
		}
		
		th, td {
			border-top: 1px solid #ddd; /* 상단에만 회색 선 추가 */
			border-bottom: 1px solid #ddd; /* 하단에만 회색 선 추가 */
			padding: 20px; /* 셀 안의 여백 설정 */
			text-align: left; /* 셀 안의 텍스트를 왼쪽 정렬 */
		}
		
		th {
			/* background-color: #f2f2f2; 헤더 셀에 연한 회색 배경색 추가 */
			border-top: none; /* 헤더 셀의 상단 선 제거 */
			border-bottom: 1px solid #ddd; /* 헤더 셀의 하단에만 회색 선 추가 */
		}
		
		td a{
			color: black;
		}
		
		.container {
			display: flex;
			justify-content: space-between; /* 컨테이너 내부 요소들을 좌측과 우측에 배치 */
			width: 100%;
			height: 1020px;
			
			margin: 0 auto; /* 화면 가운데 정렬 */
		}
		
		
		.searchcontainer {
			display: flex;
			justify-content: space-between; /* 좌우에 요소를 배치 */
			width: 100%;
			margin-top: 40px;
		}
		
		.searchright {
			 /* 우측 영역의 너비를 30%로 설정 */
			display: flex; /* 내부 요소들을 가로로 배치 */
			justify-content: flex-end; /* 내부 요소를 오른쪽으로 정렬 */
			align-items: center; /* 내부 요소를 세로 방향 가운데 정렬 */
			margin-left: auto; /* 오른쪽으로 이동시킴 */
		}
		
		.first{
			font-size: 30px;
			font-weight: 1000;
			margin-top: 40px;
			margin-left: 3%;
		}

				/* 중간영역 시작 */
				.middle {
					width:1060px;
					height:590px;
					position:absolute;
					left:150px;
					top:0px					
				}

				.middle_box {
			
					box-shadow: 0px 10px 60px rgba(225.83437621593475, 236.193745136261, 248.62500607967377, 0.5);
					background-color: rgba(255, 255, 255, 1); 
					width:1420px;
					height:890px;
					position:absolute;
					left:400px;
					top:150px									
				} 

				/* 작성 */
				.write a{ 
					color:black;
					width:72px;
					height:25px;
					position:absolute;
					font-size:14px;
					
				}
				
				/*  작성 위치 */
				.writepo {
					display: flex;
					justify-content: flex-end;
					align-items: center;
					width:72.1487808227539px;
					height:40.396484375px;
					margin-left: 890px;
					
				}

				/* 마이페이지 */
				.title {
					list-style-type: none;
					padding: 23px;
					font-size: 30px;
				}


				/* 취소 밤송 완료 */
				.close2{
					color: orange;
				}	



			/* 답변중 버튼 */
			.ing{
				/* 버튼의 높이와 너비를 조정하여 크게 만듭니다. */
				width: 110px;
				padding: 7px 10px ;
			
				/* 배경색을 주황색으로 설정합니다. */
				background-color: lightgray;
			
				/* 글자 색을 변경합니다. */
				color: white;
			
				/* 글자 크기를 크게 설정합니다. */
				
			
				/* 모서리를 둥글게 만듭니다. */
				border-radius: 5px;
			
				/* 테두리를 없앱니다. */
				border: none;
			
				/* 버튼 안의 텍스트를 가운데 정렬합니다. */
				text-align: center;
			}

			

			/* 답변완료 상태 버튼 */

			
		.close{
			/* 버튼의 높이와 너비를 조정하여 크게 만듭니다. */
			width: 110px;
			padding: 7px 10px ;
		
		
			/* 배경색을 주황색으로 설정합니다. */
			background-color: orange;
		
			/* 글자 색을 변경합니다. */
			color: white;
		
			/* 글자 크기를 크게 설정합니다. */

		
			/* 모서리를 둥글게 만듭니다. */
			border-radius: 5px;
		
			/* 테두리를 없앱니다. */
			border: none;
		
			/* 버튼 안의 텍스트를 가운데 정렬합니다. */
			text-align: center;
		
			/* 버튼 안의 텍스트의 여백을 조정합니다. */

		}

		/* 음식이미지  */
		.food{
		
				width:44px;
				height:35px;
				position:relative;
				left: 0px;
				top: 8px;
			
			}
		