<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="/resources/css/notice board/notice board.css">
</head>
<body>
    <header></header>

    

    <div class="container">
        <div class="left">
            <!-- 좌측 컨텐츠 -->
        </div>
        <div class="middle">
            <!-- 가운데 컨텐츠 -->
            <div class="first">
                <span><a class="black-link" href="http://www.google.com">사용자 신고</a></span>
                <span><strong>></strong></span>
                <span>답변 남기기</span>
            </div>
        
            <div>
                <a href="#"><img class="logo1" src="/resources/images/textlogonone_2.png" alt=""></a>
            </div>
        
        
            <div class="searchcontainer">
                <div class="searchright">
                    <form action="search" method="post">
                        <input class="iconlogo" type="submit" value="" style="background-image: url(/resources/images/textlogonone_2.png); width: 20px; height: 20px;">
                        <input type="text" name="search" required>
                        <select name="nation2"  >
                            <option value="search"selected>검색설정</option>
                            <option value="ch">답변완료</option>
                            <option value="jp" >답변중</option>
                            <option value="etc">기타</option>
                        </select>
                    </form>
                </div>
                
                
                
                
                
        
            </div>
        
        
            <div>
                <table >
                    
                    <tr>
                        <th>작성번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>답변상태</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><a href="#" id="questionLink">풍미가 좋은 드라이에이징 삼겹살</a></td>
                        <td>김민*</td>
                        <td>2023/11/16</td>
                        <td>답변중</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a href="#" id="questionLink">풍미가 좋은 드라이에이징 삼겹살</a></td>
                        <td>김민*</td>
                        <td>2023/11/16</td>
                        <td>답변중</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><a href="#" id="questionLink">풍미가 좋은 드라이에이징 삼겹살</a></td>
                        <td>김민*</td>
                        <td>2023/11/16</td>
                        <td>답변중</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><a href="#" id="questionLink">풍미가 좋은 드라이에이징 삼겹살</a></td>
                        <td>김민*</td>
                        <td>2023/11/16</td>
                        <td>답변중</td>
                    </tr>
                </table>
            </div>
            <div class="pagination">
                <div class="pagination-box">
                    <a href="#" class="prev">＜</a>
                    <div class="page-links">
                        <a href="#" class="page-link">1</a>
                        <a href="#" class="page-link">2</a>
                        <a href="#" class="page-link">3</a>
                        
                    </div>
                    <a href="#" class="next">＞</a>
                </div>
            </div>
        </div>


        <div class="right">
            <!-- 우측 컨텐츠 -->
        </div>
    </div>


    <footer></footer>
</body>
</html>