<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 게시판</title>
    <link rel="stylesheet" href="../../../resources/css/manager/board/noticeMain.css">
</head>
<body>
    <header>
        <!-- 로고 이미지 -->
		<img src="../../../resources/images/01_logoimg/logoNone.png" alt="로고" width="100" class="logo-image">

	<!-- 상단 메뉴 -->
	<nav>
		<ul>
			<li><a href="#">홈</a></li>
			<li><a href="#">프로젝트</a></li>
			<li><a href="#">펀딩</a></li>
			<li><a href="#">도움말</a></li>
		</ul>
	</nav>

	<!-- 상단 - 더보기 메뉴 -->
	<div class="menu-item">
		<label class="toggle-label" id="toggle-label">더보기</label>
		<div class="menu-content" id="menu-content">
			<ul>
				<li><a href="#">메뉴 항목 1</a></li>
				<li><a href="#">메뉴 항목 2</a></li>
				<li><a href="#">메뉴 항목 3</a></li>
			</ul>
		</div>
	</div>

	<!-- 더보기 토글 제이쿼리 -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<!-- 더보기 토글 함수 -->
	<script>
		$(document).ready(function () {
			$('#toggle-label').click(function () {
				$('#menu-content').slideToggle(500);
			});
		});
	</script>

	<!-- 검색창 -->
	<div class="search-box">
		<input type="text" placeholder="검색어를 입력하세요">
		<i class="fas fa-search"></i>
	</div>

	<!-- 로그인 회원가입 -->
	<div class="login-signup">
		<nav>
			<ul>
				<li><a href="../search/userMain.html">관리자페이지</a></li>				<li><a href="#">로그아웃</a></li>
			</ul>
		</nav>
	</div>

	<!-- 프로젝트 시작하기 -->
	<div class="project-button">
		<a href="#">프로젝트 시작하기</a>
	</div>
    </header>

    

    <div class="container">
          <!-- 사이드바 배경 -->
<div class="sideBar">

	<!-- 사이드바 메뉴 -->
	<div class="sideBar-menu">

<div id="navSide">
			<ul class="sideBar-toggle">
				<li><a href="#">회원 조회</a><br>
					<ul class="sub">
						<li><a href="../search/userMain.html">사용자 조회</a></li>
						<li><a href="../search/sellerMain.html">판매자 조회</a></li>
						<li><a href="../search/complaintMain.html">경고 회원 조회</a></li>
					</ul>
				</li>
			</ul>
            <!-- <ul class="sideBar-toggle">
				<li><a href="#">신고 내역</a><br>
					<ul class="sub">
						<li><a href="../../../../../manager/manageComplaint/complaintUser/complaintUserMain/view/CUM.html">사용자 신고</a></li>
						<li><a href="../../../../../manager/manageComplaint/complaintProducer/complaintProducerMain/view/CPM.html">판매자 신고</a></li>
					</ul>
				</li>
			</ul> -->
            <ul class="sideBar-toggle">
				<li><a href="#">프로젝트 관리</a><br>
					<ul class="sub">
						<li><a href="../project/newMain.html">신규 신청</a></li>
						<li><a href="../project/reMain.html">재신청</a></li>
						<li><a href="../project/declineMain.html">반려 프로젝트</a></li>
						<li><a href="../project/complaintMain.html">신고 프로젝트</a></li>
					</ul>
				</li>
			</ul>
            <ul class="sideBar-toggle">
				<li><a href="#">수익관리</a><br>
					<ul class="sub">
						<li><a href="../revenue/main.html">프로젝트 목록</a></li>
					</ul>
				</li>
			</ul>
            <ul class="sideBar-toggle">
				<li><a href="#">게시판 관리</a><br>
					<ul class="sub">
						<li><a href="../board/noticeMain.html">공지사항</a></li>
						<li><a href="../board/inquiryMain.html">고객센터</a></li>
						<li><a href="../board/complaintMain.html">신고 게시판</a></li>
					</ul>
				</li>
			</ul>

		</div>
		<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function () {
				$("#navSide ul.sub").hide();
				$("#navSide ul.sideBar-toggle li").click(function () {
					$("ul", this).slideToggle("normal");
				});
			});
		</script>

		<div class="sideBar-adver">
			<div class="sideBar-adver-back"></div>
			<span class="sideBar-adver-text">요금제를 업그레이드하고
				더 많은 광고기회를 얻으세요</span>
			<div class="sideBar-adver-button">
				<div class="sideBar-adver-button-back"></div>
				<span class="sideBar-adver-button-text">지금 업그레이드!</span>
			</div>
		</div>
	</div>

</div>
        <div class="middle">
            <!-- 가운데 컨텐츠 -->
            <div class="first">
                <span><a class="black-link" href="./BNM.html">공지사항</a></span>
            
            </div>
        
            <div>
				<a href="#"><img class="logo1" src="../../../resources/images/01_logoimg/textLogoNone.png" alt=""></a>          
			  </div>
        
        
            <div class="searchcontainer">
                <div class="searchleft1">
                    <form action="search" method="post">
                        <select name="nation2"  >
                            <option value="search"selected>정렬컬럼</option>
                            <option value="ch">코드(기본)</option>
                            <option value="etc">제목</option>
                            <option value="etc">작성일자</option>
                        </select>
                    </form>
                </div>

                <div class="searchleft2">
                    <form action="search" method="post">
                        <select name="nation2"  >
                            <option value="search"selected>정렬방식</option>
                            <option value="ch">오름차순</option>
                            <option value="jp" >내림차순(기본)</option>
                        </select>
                    </form>
                </div>
                <div id="link" class="newWriting" onclick="location.href='./noticeWriting.html'">
                    글쓰기
                </div>
                <div class="searchright">
                    <form action="search" method="post">
                        <button class="iconlogo" type="submit" style="width: 20px; height: 20px; border: none; background: url('/resources/images/돋보기\ 아이콘.avif') center center / cover no-repeat; padding: 0;"></button>
                        <input type="text" name="search" required>
                        <select name="nation2"  >
                            <option value="search"selected>검색설정</option>
                            <option value="ch">코드</option>
                            <option value="jp" >제목</option>
                            <option value="etc">작성일자</option>
                        </select>
                    </form>
                </div>
                
            </div>
        
        
            <div>
                <table >
                    
                    <tr>
                        
                        <th id="newcolumn">새 글</th>
                        <th>코드</th>
                        <th>제목</th>
                        <th id="right">작성일자</th>
                    </tr>
                    <tr id="link" onclick="location.href='./noticeWrited'">
                        <td id="new">new</td>
                        <td>8</td>
                        <td>최근 논란에 대해 안내드립니다.</td>
                        <td>2023/11/16</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>8</td>
                        <td>최근 논란에 대해 안내드립니다.</td>
                        <td>2023/11/16</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>8</td>
                        <td>최근 논란에 대해 안내드립니다.</td>
                        <td>2023/11/16</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>8</td>
                        <td>최근 논란에 대해 안내드립니다.</td>
                        <td>2023/11/16</td>
                    </tr>
                </table>
            </div>
            <div class="pagination">
                <div class="pagination-box">
                    <a href="#" class="prev">＜</a>
                    <div class="page-links">
                        <a href="#" class="page-link">1</a>
                        <a href="#" class="page-link">2</a>
                        <a href="#" class="page-link">3</a>
                        
                    </div>
                    <a href="#" class="next">＞</a>
                </div>
            </div>
        </div>


        <div class="right">
            <!-- 우측 컨텐츠 -->
        </div>
    </div>


    <footer>
         <!-- Footer -->
	 <div class=footer>
		<div class="footer-back"></div>
		<div class="footer-left"></div>
		<div class=footer-group>
		  <div class=footer-group-design><span  class="footer-down">
	  일부 상품의 경우 와디즈는 통신판매중개자이며 통신판매 당사자가 아닙니다.
	  해당되는 상품의 경우 상품, 상품정보, 거래에 관한 의무와 책임은 판매자에게 있으므로, 각 상품 페이지에서 구체적인 내용을 확인하시기 바랍니다. </span>
			<div class=footer-up><span  class="footer-up-right">이메일 상담   abcdefg@gmail.com
	  유선 상담 1234-5678</span><span  class="footer-up-left">Cloud Fooding 클라우드 푸딩
	  사업자 등록번호 1234-56-7890
	  서울 종로구 인사동길 12 대일빌딩 7층 클라우드 푸딩
	  </span>
	</div>
	<img class="footer-logo" src="../../../resources/images/01_logoimg/logoNone.png">
</div>
		</div>
	  </div>
    </footer>
</body>
</html>