.back-board { 
	box-shadow:0px 10px 60px rgba(225.83437621593475, 236.193745136261, 248.62500607967377, 0.5);
	background-color:rgba(255, 255, 255, 1);
	width: 120vh;
    height: 100vh;
	border-radius:30px;
    margin: 5vh 15vh 15vh 15vh;
}

.back-side-container {
    display: inline-flex;
}

.back-side-container>div {
    flex: 1;
    /* 첫 번째 아이템 */
}

.back-side-container>div:nth-child(2) {
    flex: 2;
    /* 두 번째 아이템 */
}

.greeting-text {
    top: 10px;
    /* left: 10px; */
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-left: 20vh;
    margin-top: 10vh;
}

.back-board img {
    width: 150px;
    height: auto;
    margin: 20px;
}
