<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 제이쿼리 -->
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="/resources/js/sideBar.js"></script>
    <link rel="stylesheet" href="/resources/css/sideBar/css.css">
    <title>sideBar</title>
</head>
<body>
    <!-- 사이드바 배경 -->
<div class="sideBar">

	<!-- 사이드바 메뉴 -->
	<div class="sideBar-menu">

		<div id="navSide">
			<ul class="sideBar-toggle">
			    <li><a href="#">프로젝트 관리</a><br>
                    <ul class="sub">
						<li><a href="#">요금제 선택</a></li>
						<li><a href="#">프로젝트 정보</a></li>
						<li><a href="#">기본 정보</a></li>
						<li><a href="#">스토리 작성</a></li>
                        <li><a href="#">리워드 작성</a></li>
						<li><a href="#">정책</a></li>
						<li><a href="#">판매자 정보</a></li>
                    </ul>
                </li>
                <li><a href="#">프로젝트 현황</a><br>
                    <ul class="sub">
						<li><a href="#">완료된 펀딩</a></li>
						<li><a href="#">진행중인 펀딩</a></li>
                    </ul>
                </li>
                <li><a href="#">구매자 조회</a><br>
                    <ul class="sub">
						<li><a href="#">완료된 펀딩</a></li>
						<li><a href="#">진행중인 펀딩</a></li>
                    </ul>
                </li>
                <li><a href="#">배송 관리</a><br>
                    <ul class="sub">
						<li><a href="#">발송 관리</a></li>
						<li><a href="#">환불 관리</a></li>
						<li><a href="#">교환 관리</a></li>
                    </ul>
                    <li><a href="#">QnA 관리</a><br>
                        <ul class="sub">
                            <li><a href="#">배송 QnA</a></li>
                            <li><a href="#">프로젝트 QnA</a></li>
                        </ul>
                    </li> 
                </li> 
            </ul>
		</div>
        <br><br><br><br><br><br><br>
		<div class="sideBar-adver">
			<div class="sideBar-adver-back"></div>
			<span class="sideBar-adver-text">요금제를 업그레이드하고
				더 많은 광고기회를 얻으세요</span>
			<div class="sideBar-adver-button">
				<div class="sideBar-adver-button-back"></div>
				<span class="sideBar-adver-button-text">지금 업그레이드!</span>
			</div>
		</div>
	</div>
</div>

</body>
</html>