<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>changeInfo</title>
    <link rel="stylesheet" href="/resources/css/login/changeInfo.css">
</head>
<body>
    <header>
        	

	
    </header>

        <div class="container">
            <div class="left">
                <div class="sideBar">

                  <!-- 사이드바 메뉴 -->
	 <div class="sideBar-menu">
        <strong><div class="title">마이페이지</div></strong>
        
        <div id="navSide">
            <ul class="sideBar-toggle">
                <li><a href="#">내정보관리</a><br>
                    <ul class="sub">
                            <li><a href="#">개인정보 변경</a>
                            <li><a href="#">회원탈퇴 </a>
                            <li><a href="#">판매자 전환</a>
                    </ul>
                </li>
            </ul>
            <ul class="sideBar-toggle">
                <li><a href="#">장바구니</a>
                    <ul class="sub">
                        <li><a href="#">나의 펀딩 리스트</a>
                        <li><a href="#">관심 펀딩 리스트</a>
                    </ul>
                </li>
            </ul>
            <li><a href="#">QnA</a></li>
            <li><a href="#">배송현황</a></li>
            <li><a href="#">게시판</a></li>
           


        </div>
		<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function () {
				$("#navSide ul.sub").hide();
				$("#navSide ul.sideBar-toggle li").click(function () {
					$("ul", this).slideToggle("normal");
				});
			});
		</script>

		<div class="sideBar-adver">
			<div class="sideBar-adver-back"></div>
			<span class="sideBar-adver-text">요금제를 업그레이드하고
				더 많은 광고기회를 얻으세요</span>
			<div class="sideBar-adver-button">
				<div class="sideBar-adver-button-back"></div>
				<span class="sideBar-adver-button-text">지금 업그레이드!</span>
			</div>
		</div>
	</div>
                </div>
                
                
            </div>
            <div class="middle">
                <!-- 가운데 컨텐츠 -->
                <div class="changeinfotitle">개인정보 변경</div>
                <div class="ligoimg"><img src="/resources/images/textlogonone_2.png" alt=""></div>
            

            
            <div class="changeInfo">
                <!-- 회원정보 변경 폼-->


            <form action="/submit-form"></form>
            <div>
                    <li>이름</li>
                    <li><span><input class="box1" type="text"></span></li>
                </div>

                <div>
                    <li>이메일 주소</li>
                    <span><input type="text" class="box2"></span>&nbsp;&nbsp;<span class="mailbtn"><button type="submit" >인증번호 받기</button></span>
                    <li>이메일 코드입력</li>
                    <span><input type="text" class="box2"></span>&nbsp;&nbsp;<span class="mailbtn"><button type="submit" >인증번호 확인</button></span>
                </div>

                <div>
                    
                        <li><span>비밀번호</span><span class="movetext2">비밀번호 확인</span></li>
                        <li><span><input placeholder="8자 이상의 영어, 숫자 입력" class="box3" type="password" id="passwordField" name="passwordField"></span>&nbsp;&nbsp;<span><input class="box3" type="password" id="confirmPasswordField" name="confirmPasswordField"></span></li>
                        
                        
                        
                        
                        <input type="checkbox" id="showPassword" onchange="togglePassword()">
                        <label for="showPassword">비밀번호 보이기</label>
                        
                        
                    
                </div>

                <div>
                    
                    <label for="">주소</label><br>
                    <textarea name="" class="box4" id="" cols="30" rows="10"></textarea>
                </div>
                <div>
                    <label for="">상세주소</label><br>
                    <textarea name="" class="box4" id="" cols="30" rows="10"></textarea>
                </div>
            
        
            <div class="changeInfobtn"><a href="http://www.google.com"><button>회원정보 변경</button></a></div>
        </form>
        

    </div>
            </div>
    
    
            <div class="right">
                <!-- 우측 컨텐츠 -->
            </div>
        </div>

    <footer>
    

    </footer>
</body>
</html>