<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loginpage</title>
    <link rel="stylesheet" href="/resources/css/login/login.css">
</head>
<body>

    <header></header>
    <div id="wrap">
    <div id="login">
    <ul class="signin">
        <a href="http://www.google.com"><img id="logo1" src="/resources/images/textlogonone_2.png" alt=""></a>
        <li class="signin_text">Sign in</li>
        <li class="user_id">
            
            <label for="">your id</label> <br>
            <input type="text">
        </li>
        <li>
            <label for="">your password</label>
            <br>
            <input type="password"> 
            <img src="#" alt="">
            
        </li>
        <li class="btlogin">
            <button>Log in</button>
        </li>
        <li>By continuing, you agree to the Terms of use and Privacy Policy.</li>
    </ul>


    <div class="downpart">
    <ul class="findid">
        <li><a href="">아이디 찾기</a></li>
        <li><a href="">비밀번호 찾기</a></li>
    </ul>
    
    
        <li>New to our community</li>
        <li class="btjoin"><a href="http://www.google.com" target="_blank"><button>회원가입</button></li></a>
    </div>


</div>
</div>
<footer></footer>

</body>
</html>