<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>answer</title>
    <link rel="stylesheet" href="/resources/css/answer/answer.css">
</head>
<body>
    <header></header>

    

    <div class="container">
        <div class="left">
            <!-- 좌측 컨텐츠 -->
            
        </div>
        <div class="middle">
            <!-- 가운데 컨텐츠 -->
            <div class="first">
                <span><a class="black-link" href="http://www.google.com">고객센터</a></span>
                <span><strong>></strong></span>
                <span>답변 남기기</span>
            </div>
        
            <div>
                <a href="#"><img class="logo1" src="/resources/images/textlogonone.png" alt=""></a>
            </div>
            

            <div class="box">
                <span class="box1">작성번호 : 1</span>
                <span class="box1">작성자:김민*</span>
                <span class="box2">작성일자:2023/11/15</span>
            </div>
            
            <div>
                <form action="">
                    <div class="title"><label for="title">제목</label><input id="title" type="text"></div>
                    <div class="detail"><label for="detail">내용</label><textarea name="" id="detail" cols="30" rows="10"></textarea></div>
                    <div class="answer"><label for="answer">답변</label><textarea name="" id="answer" cols="30" rows="10"></textarea></div>
                    <div class="submitbtn"><button type="submit">글쓰기</button></div>
                </form>
            </div>

        
            
        
            
            <div class="pagination">
                <div class="pagination-box">
                    <a href="#" class="prev">＜</a>
                    <div class="page-links">
                        <a href="#" class="page-link">1</a>
                        <a href="#" class="page-link">2</a>
                        <a href="#" class="page-link">3</a>
                        
                    </div>
                    <a href="#" class="next">＞</a>
                </div>
            </div>
        </div>


        <div class="right">
            <!-- 우측 컨텐츠 -->
        </div>
    </div>


    <footer></footer>
</body>
</html>