<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/projectMake/projectApply.css">

    <link rel="stylesheet" href="/resources/css/header-project/css.css">
    <!-- <link rel="stylesheet" href="/resources/css/sideBar/css.css"> -->
    <!-- <link rel="stylesheet" href="/resources/css/memberWithdrawal/user.css"> -->
    <link rel="stylesheet" href="/resources/css/footer/css.css">
</head>
<body>

<!-- 헤더시작 -->
<header>
    <img src="/resources/images/01_logoimg/textLogoNone.png" alt="로고" width="100" class="logo-image">

    <!-- 상단 메뉴 -->
    <nav>
        <ul>
            <li><a href="#">홈</a></li>
            <li><a href="#">프로젝트</a></li>
            <li><a href="#">펀딩</a></li>
            <li><a href="#">도움말</a></li>
        </ul>
    </nav>

    <!-- 메뉴 2: 토글 기능 있음 -->
    <div class="menu-item">
        <label class="toggle-label" id="toggle-label">더보기</label>
        <div class="menu-content" id="menu-content">
            <ul>
                <li><a href="#">메뉴 항목 1</a></li>
                <li><a href="#">메뉴 항목 2</a></li>
                <li><a href="#">메뉴 항목 3</a></li>
            </ul>
        </div>
    </div>

    <!-- 검색창 -->
    <div class="search-box">
        <input type="text" placeholder="검색어를 입력하세요">
        <img src="/resources/images/돋보기 아이콘.avif" alt="돋보기 이미지" class="search-icon" onclick="performSearch()">
        </div>
    </div>
        
    <!-- 로그인 회원가입 -->
    <div class="login-signup">
        <nav>
            <ul>
                <li><a href="#">로그인</a></li>
                <li><a href="#">회원가입</a></li>
            </ul>
        </nav>
    </div>

    <!-- 프로젝트 시작하기 -->
    <div class="project-button">
        <a href="#">프로젝트 시작하기</a>
    </div>
</header>

<!-- 헤더끝 -->

<div class="buyok">
    <div class="buyokay">

    
    <div class="payinfo">
        <div style="float: left;">
            <a href="../../resources/images/logonon_1 (1).png"><img src="/resources/images/minicon/backbtn.jpg"
                 width="25px" height="25px"></a>
        </div>
    <div><h2>이전</h2></div>
</div>
<div class="maininfo">
    
    <div class="payment-confirmation">
        <div class="firstlogo"><a href="mainpage"><img src="/resources/images/minicon/로고2.png" alt="" width="150px"></a></div>
        
        <h3><pre>     프로젝트신청이 완료되었습니다.
         심사 승인 후 공개됩니다.
        </pre></h3>
        <div class="secondlogo"><img src="/resources/images/minicon/foodbox.png" alt=""></div>
    </div>
   
    <div class="product-list">
        <div class="product-status">
            <div class="orderStatus">
                <span><div class="pay" style="color: orange;">프로젝트 신청</div></span>&mdash;<span><img src="/resources/images/minicon/uncheckbtn.PNG" class="uncheck"></span>&mdash;<span>심사중</span>&mdash;<span><img src="/resources/images/minicon/uncheckbtn.PNG" class="uncheck"></span>&mdash;<span>승인 및 게시</span>
            </div>
        </div>
       <a href="/view/main.html" class="fin">메인으로 돌아가기</a>
    </div>


</div>
</div>
</div>






        <!-- 푸터는 이아래에 붙여 -->

<!-- 푸터 시작 -->
<footer>
    <!-- Footer -->
    <div class="footer-container">
    
        <div class="footer-logo">               
            <img src="/resources/images/01_logoimg/logoNone.png" alt="footer-logo" class="footer-logo">
        </div>
    
        <div class="footer">
            <div class="footer-back"></div>
            <div class="footer-left"></div>
            <div class=footer-group>
                <div class=footer-group-design><span class="footer-down">
                    일부 상품의 경우 와디즈는 통신판매중개자이며 통신판매 당사자가 아닙니다.
                        해당되는 상품의 경우 상품, 상품정보, 거래에 관한 의무와 책임은 판매자에게 있으므로, 각 상품 페이지에서 구체적인 내용을 확인하시기 바랍니다. </span>
                    <div class=footer-up><span class="footer-up-right">이메일 상담 abcdefg@gmail.com
                            유선 상담 1234-5678</span><span class="footer-up-left">Cloud Fooding 클라우드 푸딩
                            사업자 등록번호 1234-56-7890
                            서울 종로구 인사동길 12 대일빌딩 7층 클라우드 푸딩
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </footer>


 
</body>
</html>