<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 제이쿼리 -->
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <!-- 폰트패밀리: Poppins -->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <script src="/resources/js/header.js"></script>
    <script src="/resources/js/sideBar.js"></script>
    <!-- 항상 변경 해야할 js 링크 -->
    <script src="/resources/js/projectMake-main/projectManage/basicInfo.js"></script>
    <link rel="stylesheet" href="/resources/css/header-project/css.css">
    <link rel="stylesheet" href="/resources/css/sideBar/css.css">
    <link rel="stylesheet" href="/resources/css/footer/css.css">
    <link rel="stylesheet" href="/resources/css/background-board/css.css">
    <!-- 항상 변경 해야할 css 링크 -->
    <link rel="stylesheet" href="/resources/css/projectMake-main/projectManage-main/basicInfo/css.css">

    <title>projectMake</title>
</head>

<body>
    <header>
        <img src="/resources/images/01_logoimg/textLogoNone.png" alt="로고" width="100" class="logo-image">

        <!-- 상단 메뉴 -->
        <nav>
            <ul>
                <li><a href="#">홈</a></li>
                <li><a href="#">프로젝트</a></li> 
                <li><a href="#">펀딩</a></li>
                <li><a href="#">도움말</a></li>
            </ul>
        </nav>

        <!-- 메뉴 2: 토글 기능 있음 -->
        <div class="menu-item">
            <label class="toggle-label" id="toggle-label">더보기</label>
            <div class="menu-content" id="menu-content">
                <ul>
                    <li><a href="#">메뉴 항목 1</a></li>
                    <li><a href="#">메뉴 항목 2</a></li>
                    <li><a href="#">메뉴 항목 3</a></li>
                </ul>
            </div>
        </div>

        <!-- 검색창 -->
        <div class="search-box">
            <input type="text" placeholder="검색어를 입력하세요">
            <img src="/resources/images/02_img/돋보기.png" alt="돋보기 이미지" class="search-icon" onclick="performSearch()">
        </div>
        </div>

        <!-- 로그인 회원가입 -->
        <div class="login-signup">
            <nav>
                <ul>
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                </ul>
            </nav>
        </div>

        <!-- 프로젝트 시작하기 >>> 나가기 -->
        <div class="project-button">
            <a href="#">나가기</a>
        </div>
    </header>

    <div class="back-side-container">

        <!-- 사이드바 배경 -->
        <div class="sideBar">

            <!-- 사이드바 메뉴 -->
            <div class="sideBar-menu">

                <div id="navSide">
                    <ul class="sideBar-toggle">
                        <li><a href="#">프로젝트 관리</a><br>
                            <ul class="sub">
                                <li><a href="#">요금제 선택</a></li>
                                <li><a href="#">프로젝트 정보</a></li>
                                <li><a href="#">기본 정보</a></li>
                                <li><a href="#">스토리 작성</a></li>
                                <li><a href="#">리워드 작성</a></li>
                                <li><a href="#">정책</a></li>
                                <li><a href="#">판매자 정보</a></li>
                            </ul>
                        </li>
                        <li><a href="#">프로젝트 현황</a><br>
                            <ul class="sub">
                                <li><a href="#">완료된 펀딩</a></li>
                                <li><a href="#">진행중인 펀딩</a></li>
                            </ul>
                        </li>
                        <li><a href="#">구매자 조회</a><br>
                            <ul class="sub">
                                <li><a href="#">완료된 펀딩</a></li>
                                <li><a href="#">진행중인 펀딩</a></li>
                            </ul>
                        </li>
                        <li><a href="#">배송 관리</a><br>
                            <ul class="sub">
                                <li><a href="#">발송 관리</a></li>
                                <li><a href="#">환불 관리</a></li>
                                <li><a href="#">교환 관리</a></li>
                            </ul>
                        <li><a href="#">QnA 관리</a><br>
                            <ul class="sub">
                                <li><a href="#">배송 QnA</a></li>
                                <li><a href="#">프로젝트 QnA</a></li>
                            </ul>
                        </li>
                        </li>
                    </ul>
                </div>
                <br><br><br><br><br><br><br>
                <div class="sideBar-adver">
                    <div class="sideBar-adver-back"></div>
                    <span class="sideBar-adver-text">요금제를 업그레이드하고
                        더 많은 광고기회를 얻으세요</span>
                    <div class="sideBar-adver-button">
                        <div class="sideBar-adver-button-back"></div>
                        <span class="sideBar-adver-button-text">지금 업그레이드!</span>
                    </div>
                </div>
            </div>
        </div>

        <section class="back-board-container">
            <!-- 배경 시트 좌측 상단 텍스트 -->
            <div class="greeting-text">기본 정보</div>
            <div class="greeting-sub-text">프로젝트와 가장 잘 어울리는 카테고리를 선택해 주세요. 프로젝트를 만들고 바꿀 수 있어요.</div><br><br>
            <!-- 배경 시트 -->
            <div class="back-board">
                <!-- 로고 -->
                <div class="board-logo img">
                    <img src="/resources/images/01_logoimg/textLogoNone.png">
                </div>

                <div class="category-text">프로젝트 제목<span class="greeting-text-star"> *</span></div>
                <br><br>

                <!-- 입력창에 입력이 발생할 때 남은 글자 수 계산 -->
                <div class="putIn-title">
                    <input type="text" id="putIn-title-text" name="putIn-title-text" placeholder="제목을 입력해 주세요."
                        oninput="updateCharacterCount()">
                    <p id="characterCount">40자 남음</p>
                </div>

                <br><br>

                <div class="category-text">대표 이미지<span class="greeting-text-star"> *</span></div>
                <div class="category-sub-text">클라우드 푸딩 메인, 검색 결과 등 여러 곳에서 노출할 대표 이미지를 등록해 주세요.</div><br><br>
                

                <div class="first-image-container">
                    <div class="first-image-box">
                        <div class="first-image-title">대표 이미지 등록 가이드</div><br><br>
                            <div class="first-image-sub-title">
                                <li>10MB 이하의 JPG, JPEG, PNG 파일</li>
                                <li>해상도 1200x675 픽셀 이상</li>
                                <li>사진을 선택하면 이미지를 자르거나 회전할 수 있어요.</li>
                            </div>
                        </div>
                    </div>

                    <br><br>

                    <div class="category-text">프로젝트 종료일<span class="greeting-text-star"> *</span></div>
                    <br>
                        <div class="project-end-container">
                            <input type="text" class="project-end-text" placeholder="예시: 2023/10/15" oninput="formatDateInput(this)">
                        </div>

                    <div class="category-text">검색용 태그(#)<span class="greeting-text-star"> *</span></div>
                    <br>
                        <div class="search-tag-container">
                            <input type="text" class="search-tag-text" placeholder="엔터를 누르면 최대 10개까지 태그를 입력할 수 있어요." id="tagInput" onkeyup="addTag(event)">
                            <br><br>
                            <div class="search-tag-#text" id="outputTag"></div><br>
                            <p id="tagLimitMessage"></p>
                        </div>

                        
                        <script>
                            var addedTags = 0;
                        
                            function addTag(event) {
                                if (event.key === "Enter") {
                                    event.preventDefault();
                        
                                    var tagInput = document.getElementById('tagInput');
                                    var outputTag = document.getElementById('outputTag');
                                    var tagLimitMessage = document.getElementById('tagLimitMessage');
                        
                                    // 입력값이 비어있지 않으면 태그를 추가
                                    var trimmedValue = tagInput.value.replace(/\s/g, '');
                                    if (trimmedValue !== '') {
                                        var tags = tagInput.value.split(',');
                                        var existingTags = new Set();
                        
                                        // 기존에 등록된 태그 수집
                                        outputTag.childNodes.forEach(function (child) {
                                            if (child.textContent) {
                                                existingTags.add(child.textContent);
                                            }
                                        });
                        
                                        tags.forEach(function (tagText) {
                                            tagText = tagText.trim();
                                            if (tagText !== '' && !existingTags.has('#' + tagText + 'X') && addedTags < 10) {
                                                var tag = document.createElement('div');
                                                tag.className = 'search-tag';
                                                tag.textContent = '#' + tagText;
                        
                                                // 추가된 태그에 삭제 버튼 추가
                                                var deleteButton = document.createElement('span');
                                                deleteButton.className = 'delete-tag';
                                                deleteButton.textContent = 'X';
                                                deleteButton.onclick = function () {
                                                    deleteTag(tag);
                                                };
                        
                                                tag.appendChild(deleteButton);
                        
                                                // 기존 태그 출력에 새로운 태그 추가
                                                outputTag.appendChild(tag);
                                                existingTags.add(tagText);
                        
                                                addedTags++;
                                            }
                                        });
                        
                                        // 입력창 초기화
                                        tagInput.value = '';
                        
                                        // 태그 개수 제한 메시지 업데이트
                                        updateTagLimitMessage(addedTags);
                                    }
                                }
                            }
                        
                            function deleteTag(tagElement) {
                                var tagText = tagElement.textContent.slice(1); // '#' 제거
                                tagElement.parentNode.removeChild(tagElement);
                        
                                // 태그 삭제 후 카운트 조정
                                addedTags--;
                        
                                // 태그 개수 제한 메시지 업데이트
                                updateTagLimitMessage(addedTags);
                            }
                        
                            function updateTagLimitMessage(addedTags) {
                                var tagLimitMessage = document.getElementById('tagLimitMessage');
                                var remainingTags = 10 - addedTags;
                        
                                if (remainingTags === 0) {
                                    tagLimitMessage.textContent = '10개의 태그가 모두 등록되었습니다.';
                                } else {
                                    tagLimitMessage.textContent = remainingTags + '개의 태그가 더 추가 가능합니다.';
                                }
                            }
                        </script>
                        
                        
                        
                    <br><br><br><br><br><br>
                <a class="project-start" href="/view/projectMake/projectManage.html">제출하기</a>


            </div> <!-- back-board -->
    </div> <!-- greeting-text -->
    </div>
    </div>
    </div>
    </section>

    <!-- Footer -->
    <div class="footer-container">

        <div class="footer-logo">
            <img src="/resources/images/01_logoimg/logoNone.png" alt="footer-logo" class="footer-logo">
        </div>

        <div class="footer">
            <div class="footer-back"></div>
            <div class="footer-left"></div>
            <div class=footer-group>
                <div class=footer-group-design><span class="footer-down">
                        일부 상품의 경우 와디즈는 통신판매중개자이며 통신판매 당사자가 아닙니다.
                        해당되는 상품의 경우 상품, 상품정보, 거래에 관한 의무와 책임은 판매자에게 있으므로, 각 상품 페이지에서 구체적인 내용을 확인하시기 바랍니다. </span>
                    <div class=footer-up><span class="footer-up-right">이메일 상담 abcdefg@gmail.com
                            유선 상담 1234-5678</span><span class="footer-up-left">Cloud Fooding 클라우드 푸딩
                            사업자 등록번호 1234-56-7890
                            서울 종로구 인사동길 12 대일빌딩 7층 클라우드 푸딩
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>