body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    background-size: cover;
    /* 창 화면에 100%로 배경 이미지 크기 조절 */
    background-repeat: no-repeat;
    /* 배경 이미지 반복 없음 */
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* 헤더 */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* logo - margin  */
.logo-image {
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}

/* 네비게이션 메뉴 부모 요소 */
nav {
    text-align: center;
    min-width: 60px;
    min-height: 20px;
}

/* 네비게이션 메뉴 목록 */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

/* 네비게이션 메뉴 항목 스타일 */
nav ul li {
    margin: 0 15px;
    min-width: 60px;
    min-height: 20px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    /* 가로고정 */
    flex-grow: 0;
    /* 세로 고정 */
}


/* 네비게이션 메뉴 하이퍼링크 스타일 */
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    height: 100%;
    box-sizing: border-box;
    /* 정확한 패딩값을 주기 위함 */
}

/* 검색어 - 부모  */
.search-box {
    background-color: #eee;
    padding: 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 200px;
    margin-right: auto;
}

/* 검색어 - 자식 (입력 필드) */
.search-box input {
    padding: 5px;
    width: 100%;
    /* 수정: 입력 필드를 100%로 설정하여 부모에 맞춤 */
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

/* 검색 버튼 스타일 */
.search-button {
    background: none;
    border: none;
    cursor: pointer;
}

/* 아이콘 스타일 (Font Awesome) */
.search-button i {
    font-size: 18px;
    color: #555;
}

/* 프로젝트 시작하기  */
.project-button {
    background-color: #f90;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 40px;
    margin-left: auto;
    display: flex;
}

/* 프로젝트 버튼 디자인 */
.project-button a {
    background-color: #f90;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.toggle-label {
    width: 80px;
}

/* 슬라이딩 메뉴  */
.menu {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    /* margin-left: auto; */
}

/* 더보기 토글 메뉴  */
.menu-item {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 22px;
    min-width: 60px;
    min-height: 20px;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    z-index: 1;
    padding: 50px;
    left: 0;
    right: 0;
    top: 100%;
    width: 100%;
}

.menu-content ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.menu-content ul li {
    margin: 10px;
}

.menu-content a {
    text-decoration: none;
    color: #fff;
}

.search-box img {
    width: 18px;
    height: auto;
    cursor: pointer;
}