<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loginpage</title>
    <link rel="stylesheet" href="/resources/css/login/findIdAndPwd.css">
</head>
<body>

    <header></header>
    <div class="container">
        <div class="left">
            <div class="detailLeft">
                <img id="logo1" src="/resources/images/textlogonone_2.png" alt="">
            
            <div class="movetext2">
                <span><a href=""><img class="arrow" src="/resources/images/left-arrow.png" alt=""></a></span> 
                <span class="gologin">비밀번호 찾기</span>
            </div>

            
            <div class="joininfo">
            <form action="/submit-form">
            <div>
                    <li>Your Name</li>
                    <li><span><input class="box1" type="text"></span></li>
                </div>

                <div>
                    <li class="movebox">Your Email</li>
                    <span><input type="text" class="box2"></span>&nbsp;&nbsp;<span class="mailbtn"><button type="submit" >인증번호 받기</button></span>
                    <li class="movebox">Authentication Code</li>
                    <span><input type="text" class="box1"></span>
                </div>

                <div class="downpart">
                    <ul class="findid">
                        <li><a href="">아이디 찾기</a></li>
                        <li><a href="">비밀번호 찾기</a></li>
                        <li><a href="">회원가입</a></li>
                    </ul>
                </div>

                
            
        
            <div class="joinbtn"><a href="http://www.google.com"><button type="submit">다음</button></a></div>
        </form>
    </div>

        </div>
    </div>

        

    </div>
<footer></footer>

</body>
</html>