<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>join</title>
    <link rel="stylesheet" href="/resources/css/login/join.css">
</head>
<body>
    <header>
        	

	
    </header>

    <div class="container">
        <div class="left">
            <div class="detailLeft">
            <div class="jointitle">회원가입</div>
            <div>
                <span>이미 계정이 있으신가요?</span> 
                <span class="gologin"><a href="#">로그인하기</a></span>
            </div>

            
            <div class="joininfo">
            <form action="/submit-form"></form>
            <div>
                    <li>이름</li>
                    <li><span><input class="box1" type="text"></span></li>
                </div>

                <div>
                    <li>이메일 주소</li>
                    <span><input type="text" class="box2"></span>&nbsp;&nbsp;<span class="mailbtn"><button type="submit" >인증번호 받기</button></span>
                    <li>이메일 코드입력</li>
                    <span><input type="text" class="box2"></span>&nbsp;&nbsp;<span class="mailbtn"><button type="submit" >인증번호 확인</button></span>
                </div>

                <div>
                    
                        <li><span>비밀번호</span><span class="movetext2">비밀번호 확인</span></li>
                        <li><span><input placeholder="8자 이상의 영어, 숫자 입력" class="box3" type="password" id="passwordField" name="passwordField"></span>&nbsp;&nbsp;<span><input class="box3" type="password" id="confirmPasswordField" name="confirmPasswordField"></span></li>
                        
                        
                        
                        
                        <input type="checkbox" id="showPassword" onchange="togglePassword()">
                        <label for="showPassword">비밀번호 보이기</label>
                        
                        
                    
                </div>

                <div>
                    
                    <label for="">주소</label><br>
                    <textarea name="" class="box4" id="" cols="30" rows="10"></textarea>
                </div>
                <div>
                    <label for="">상세주소</label><br>
                    <textarea name="" class="box4" id="" cols="30" rows="10"></textarea>
                </div>
            
        
            <div class="joinbtn"><a href="http://www.google.com"><button>회원가입</button></a></div>
        </form>
        

    </div>

        </div>
    </div>

        <div class="right">
            <div class="detailRight"><img class="kinglogo" src="/resources/images/logonon_1 (1).png" alt=""> </div>
        </div>

    </div>

    <div class="down2"><div class="down">
        <span>Help Center</span>
        <span>Terms of Service</span>
        <span>Privacy Policy</span>
        <span>@2022Yanliudesign</span>
        </div></div>
    








    <footer>
       

    </footer>
</body>
</html>