<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loginpage</title>
    <link rel="stylesheet" href="./test.css">

</head>
<body>
    <div class=e208_2653>
        <div class=e208_2652>
          <div class=e85_3133></div>
          <div class="e85_2402"></div>
          <div class="e85_2403"></div>
          <span  class="e85_2404">펀딩</span>
          <span  class="e85_2407">리펀딩</span>
          <span  class="e85_2411">마이페이지</span>
          <span  class="e85_2408">더보기</span>
          <span  class="e85_2405">홈</span>
          <span  class="e85_2412">로그아웃</span>
          <div class=e85_3807></div>
          <div class=e208_2648></div><span  class="e85_3575">프로젝트 만들기</span>
        </div>
      </div>

      
</body>
</html>