<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/payment/buyok.css">
</head>
<body>

    <header></header>

    <div class="buyok">
        <div class="buyokay">

        
        <div class="payinfo">
            <div style="float: left;">
                <a href="../../resources/images/logonon_1 (1).png"><img src="../../resources/images/backbtn.jpg"
                     width="25px" height="25px"></a>
            </div>
        <div><h2>결제 정보</h2></div>
    </div>
    <div class="maininfo">
        
        <div class="payment-confirmation">
            <div class="firstlogo"><a href="mainpage"><img src="../../resources/images/로고2.png" alt="" width="150px"></a></div>
            
            <h3><pre>        구매해주셔서 감사합니다.
         결제가 완료되셨습니다.
            </pre></h3>
            <div class="secondlogo"><img src="../../resources/images/로고1.PNG" alt=""></div>
        </div>
        <div class="product-status">
            <div class="orderStatus">
                <span><div class="pay" style="color: orange;">주문/결제</div></span>&mdash;<span><img src="../../resources/images/checkbtn.PNG" class="uncheck"></span>&mdash;<span>배송중</span>&mdash;<span><img src="../../resources/images/uncheckbtn.PNG" class="uncheck"></span>&mdash;<span>배송완료</span>
            </div>
        </div>
        <div class="product-list">
            <!-- <div class="payProct"><h4>결제상품</h4></div> -->
            <div class="under">
                <div class="prd"><h4>결제 상품</h4></div>
                
                <div class="product-area">  
                    <div class="food">
                    <span class="tt" style="float: left;"><img src="../../resources/images/TT.jpg" alt=""></span>
                    <span>주문한 음식이름</span>
                    <span style="float: right ;" class="won">음식가격</span>
                    <div class="amt">수량</div> 
                </div>
                
                <div class="food">
                    <span class="tt" style="float: left;"><img src="../../resources/images/TT.jpg" alt=""></span>
                    <span>주문한 음식이름</span>
                    <span style="float: right ;" class="won">음식가격</span>
                    <div class="amt">수량</div> 
                </div>
                </div>
                
            
            
                <span class="history">
                    <span>상품 전체금액</span>
                    <span style="float: right ;" class="won">상품전체금액</span>
                    <br>
                    <br>
                    <span>쿠폰 적용금액</span>
                    <span style="float: right ;" class="won">쿠폰 적용금액</span>
                    <br><br>
                    <span>배송비</span>
                    <span style="float: right ;" class="won">배송비</span>
                    <br><br>
                    <span style="color: orange;">총 금액</span>
                    <span style="float: right ; color: orange;" class="won" >총</span>
                </span>

                <div class="btn-con">
                    <button class="btn1"><a href="" style="color: white;">메인으로 돌아가기</a></button>
                    <button class="btn2"><a href="" style="color: white;">구매내역</a></button>
                </div>
            </div>
        </div>


    </div>
    </div>
</div>
    <footer>
        
    </footer>

</body>
</html>