/* body - 배경화면 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}


.menu-content a {
    text-decoration: none;
    color: #fff;

}

/* SECTION */
    section {
        width: 100%;
        height: 100vh;
        /* 뷰포트 높이를 100%로 설정 */
        background: #fff;
    }

/* ARTICLE */
article {
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: auto;
}

/* SLIDER 부모 */
.slider-container {
    position: relative;
    display: flex;
    width: 100vw;
    height: 430px;
    overflow: hidden;
    margin: auto;
}

.slider {
    display: flex;
    transition: transform 0.7s ease;
    max-height: 100%;
}

.slider img {
    object-fit: cover;
    width: 100vw;
    max-height: 100%;
}

/* SLIDER BUTTONS */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 20%;
}

.prev {
    left: 5%;
}

.next {
    right: 5%;
}

/* 중간 이모티콘 아이콘 메뉴 */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
    position: auto;
    max-width: 100%;
    flex-direction: row;
}

article {
    margin: 0 10px;
    align-items: center;
}

.a1,
.a2 {
    flex: 1;
    margin: 0 auto;
}

/* 이모티콘 아이콘 섹션 스타일 */
.icon-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

/* 이모티콘 아이콘의 스타일 */
.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 300px;
    width: 100%;
}

/* 이모티콘 아이콘 각 행의 스타일 */
.icon-row {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    margin-top: 3%;
}

/* 이모티콘 아이콘 부모 컨테이너 스타일 */
.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/* 이모티콘 아이콘 스타일 */
.icon-row i {
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: 24px;
}

/* 아이콘에 호버 효과 */
.icon-row i:hover {
    color: rgb(255, 128, 0);
}

/* 랭킹 전체 스타일 */
.ranking-column {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 13%;
    /* margin-left: 70px; */
}

/* 랭킹 제목 */
.ranking {
    color: #000000;
    width: 150px;
    height: 50px;
}

/* 랭킹 제목 세부 */
.ranking p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px;
    width: 200px;
    margin-left: -30px;
    margin-top: 15vh;
}

.ranking li {
    font-size: 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}

.ranking ul .text {
    display: block;
    width: 150px;
    font-size: medium;
}

.ranking ul .rank {
    margin-top: 25px;
    margin-right: 10px;
    width: 40px;
}

.ranking ul span {
    justify-content: center;
}

/* 랭킹 리스트 */
.ranking ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 200px;
    text-align: left;
    font-size: 20px;
    justify-content: center;
    margin-left: -10%
}

.ranking-ul-group {
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 260px;
}

.ranking img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 15%;
    margin-left: -10%;
}

/* 첫 번째 정사각형 아이콘 */
.first-container {
    padding-top: 10%;
}

.first-container-title {
    margin-left: 7%;
    margin-bottom: 3%
}

.first-square-icon-container {
    display: flex;
    margin-left: 5%;
}

.first-square-icon-wrapper {
    text-align: center;
    width: 14vw;
    height: 12vw;
    padding: 1vw;
    transition: all 0.3s ease;
    object-fit: cover;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 10vh;
    cursor: pointer;
}

.first-square-icon {
    width: 100%;   
    height: 100%;
    border-radius: 5%;
}


/* 두 번째 정사각형 아이콘 */
.second-container {
    margin-bottom: 10%;
    padding-top: 7%;
}

.second-container-title {
    margin-left: 7%;
    margin-bottom: 3%
}

/* 신규 리펀딩 */
.second-square-icon-container {
    display: flex;
    margin-left: 5%;
}

.second-square-icon-wrapper {
    text-align: center;
    width: 20vw;
    height: 15vw;
    padding: 1vw;
    transition: all 0.3s ease;
    object-fit: cover;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 15vh;
    cursor: pointer;
}

.second-square-icon {
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    border-radius: 5%;
}

/* flex로 좌우 배치 */
.display-flex {
    display: inline-flex;
}

.display-flex>div {
    flex: 2;
    /* 첫 번째 아이템 */
}

.display-flex>div:nth-child(2) {
    flex: 2;
    /* 두 번째 아이템 */
}