<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/resources/js/header.js"></script>
    <link rel="stylesheet" href="/resources/css/header/css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-fMIW/4o+b5eL+hxAl5NYX4C06A5uIj5pISb3USeBPIel7hQtd5F6fGFs2FsVn9G5nUtudkAsY1q9tWo3w4Zm+rw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>header</title>
</head>
<body>
    <header>
    <img src="/resources/images/01_logoimg/textLogoNone.png" alt="로고" width="100" class="logo-image">

    <!-- 상단 메뉴 -->
    <nav>
        <ul>
            <li><a href="#">홈</a></li>
            <li><a href="#">프로젝트</a></li>
            <li><a href="#">펀딩</a></li>
            <li><a href="#">도움말</a></li>
        </ul>
    </nav>

    <!-- 메뉴 2: 토글 기능 있음 -->
    <div class="menu-item">
        <label class="toggle-label" id="toggle-label">더보기</label>
        <div class="menu-content" id="menu-content">
            <ul>
                <li><a href="#">메뉴 항목 1</a></li>
                <li><a href="#">메뉴 항목 2</a></li>
                <li><a href="#">메뉴 항목 3</a></li>
            </ul>
        </div>
    </div>

    <!-- 검색창 -->
    <div class="search-box">
        <input type="text" placeholder="검색어를 입력하세요">
        <img src="/resources/images/02_img/돋보기.png" alt="돋보기 이미지" class="search-icon" onclick="performSearch()">
        </div>
    </div>
        
    <!-- 로그인 회원가입 -->
    <div class="login-signup">
        <nav>
            <ul>
                <li><a href="#">로그인</a></li>
                <li><a href="#">회원가입</a></li>
            </ul>
        </nav>
    </div>

    <!-- 프로젝트 시작하기 -->
    <div class="project-button">
        <a href="#">프로젝트 시작하기</a>
    </div>
</header>
</body>
</html>